@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body {
  font-family: "Inter";
}

h4 {
  color: #ae1065;
}
section {
  display: flex;
  gap: 1rem;
}
#buildingBlocks {
  margin: 1rem;
}
.building-block,
.block {
  padding-bottom: 1rem;
  cursor: pointer;
}

.constitutional-block {
  /* border: 2px solid purple; */
  padding-bottom: 0;
}

.input-block {
  /* border: 2px solid aqua; */
}

.inner-block {
  width: 700px;
  height: 60px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  user-select: none;
  background-color: #fdf0f7;
  pointer-events: none;
  color: #ae1065;
}
.drop-zone {
  padding: 16px 0 0 0;
  /* background-color: rgba(137, 214, 147, 0.412); */
}

.drop-zone .building-block {
  padding-left: 32px;
}

.drop-zone .inner-block {
  width: 100%;
  box-sizing: border-box;
}
.test {
  /* transform: translateY(-80px);
  transition: transform 1s ease; */
  animation: slide 0.15s forwards;
  pointer-events: none;
  user-select: none;
}

.test2 {
  animation: slide2 0.15s forwards;
  pointer-events: none;
  user-select: none;
}
.block.block-mirror {
  transition: background-color 0.3s ease;
}
.building-block + .building-block,
.block + .block {
  /* margin-top: 1rem; */
}
.inner-block:hover,
.inner-block:hover {
  background-color: #eee;
}
#survey .inner-block::before {
  content: url(./handle.svg);
  background-color: white;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 4px;
  border: 1px solid #ae1065;
  border-radius: 2px;
}

@keyframes slide {
  from {
    transform: translateY(-80px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes slide2 {
  from {
    transform: translateY(80px);
  }

  to {
    transform: translateY(0px);
  }
}
